.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    background-image: url(Assets/background.jpeg);
    background-position: center;
    background-size: cover;
}
.sticky-header {
    list-style-type: none;
    overflow: hidden;
    top: 0;
    width: 100%;
    position: -webkit-sticky; 
    position: sticky;
    background-color: white;
    z-index: 100;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
}
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-list li {
    margin-right: 10px;
}
nav > span > img {
    width: 50%;
}
.hamburger {
    font-size: 20px;
    cursor: pointer;
    display: none;
}
#photo >img{
    width: 80%;
}
.li{
    list-style-type: none;
}
@media (min-width:601px) and (max-width:1080px){
    .container {
        max-width: 1080px;
    }

}

@media (min-width:385px) and (max-width:600px) {
    .container {
        max-width: 600px;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: grey;
    }
    .nav-list li{
    font-size:medium;
    }
    .nav-list li {
    margin: 3px;
    }
}

@media (min-width:250px) and (max-width:384px) {
    .container {
        max-width: 384px;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:grey;
    }
    .nav-list li{
        font-size: smaller;
    }
    .nav-list li {
    margin: 1px;
    }
   
}